@import reset
@import theme

html, body, #root
  height: 100%

.main
  height: 100%

  input
    width: 15rem
    font-size: 2rem
    text-align: center

.reader
  height: 16rem
  overflow: hidden
  video
    width: 100%

.number-input
  margin-bottom: 1rem
  text-align: center
  .select
    margin: 0.5rem
    button
      border: none
      border-radius: 0
      padding: 0.5rem
      &.selected
        background-color: $theme-primary

@keyframes blinking
  20%
    color: #fff
  50%
    color: #555
  80%
    color: #fff

.recent-number-list
  display: flex
  flex-wrap: wrap
  > div
    margin: 0.2rem

  .maybe-grand
    color: hotpink

  .winning, .grand
    font-weight: bolder
    color: #fff
    animation: blinking 1.5s ease-out 0s infinite

  .expired
    color: #777

nav
  position: fixed
  bottom: 0
  width: 100%
  display: flex
  background: #333
  font-size: 130%
  a
    padding: 0.5rem
    flex: 1
    text-align: center
    &.active
      background-color: $theme-primary
